<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mzd.mylcnservice1.dao.TestDao1">
    <insert id="doAudit">
        insert into mzd_audit
         values (#{id},#{desc})
    </insert>


</mapper>